.flexRow {
  display: inline-flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 60rem;
}

.flexRow input {
  display: inline;
  max-width: 40%;
}

.flexRow span {
  min-width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
