.container{
    width: 80%;
    margin: auto;
    justify-content: center;
}

.findProducts{
    font-size: x-large;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #7c90f1;
    outline: none;
    box-shadow: #7c90f1;
}

.findProducts:hover{
    filter: brightness(0.9);
    outline: none;
}




