.home{
  display: flex;
  align-items: stretch;
  height: 100vh;
}

aside{
  flex: 6;
  background: #7c90f1;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 120px 80px;
  align-items: center;
}

img{
  max-width: 320px;

}

strong {
  font: 700 36px 'Poppins', sans-serif;
  line-height: 42px;
  margin-top: 16px;
}

main {
  flex: 8;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;
}
h2 {
  font-size: 24px;
  margin: 64px 0 24px;
  font-family: 'Poppins', sans-serif;
}
button {
  padding: 10px;
}