.button {
  height: 50px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 500;
  background: #7c90f1;
  color: #fff;
  padding: 0 32px;
  margin-top: 5px;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}

.linkInsert {
  text-decoration: none;
  color: #fff;
}

.sair {
  background: #db785a;
  transition: filter 0.2s;
}

.incoming {
  background: #6fcfee;
  transition: filter 0.2s;
}

.outgoing {
  background: #db785a;
  transition: filter 0.2s;
}
