.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: fit-content;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  background: #ffd672;
}

.card-link {
  display: flex;
  justify-content: flex-end;
}

.card img {
  max-width: 50%;
  align-self: center;
}

.title-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#edit {
  max-width: 10%;
}

.card strong {
  font: 700 36px 'Poppins', sans-serif;
  text-align: center;
}

p {
  margin: 10px;
  font: 400 20px 'Poppins', sans-serif;
  word-break: break-all;
}

.inOut {
  display: flex;
  justify-content: space-between;
}

.incoming {
  background: #2ecc71;
}

.outgoing {
  background: #e74c3c;
}
