.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-height: fit-content;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  background: #ffd672;
}

.card img {
  max-width: 50%;
  align-self: center;
}

.card strong {
  font: 700 36px 'Poppins', sans-serif;
  line-height: 42px;
  margin-top: 16px;
  text-align: center;
}

p {
  margin: 10px;
  font: 400 24px 'Poppins', sans-serif;
  word-break: break-all;
}
